/**
 * Themeanpassungen ildcustom
 */

/* ----------------------------------------------------------- */
/*           Korrekturen moodle 3.5 update                     */
/* ----------------------------------------------------------- */ 

// Bug fixes - Scrollbar in der Kursübersicht!
.block .content {
	padding:5px 15px; 
}
// Navbar Anpassung
.nav {margin-bottom:20px;}
.navbar .nav {margin-bottom:0px;}

// Reiterhintergrund
.nav-tabs li.active {
	a, a:hover, a:focus {
		border:1px solid #ddd;
		border-bottom-color:transparent;
		background-color:#fff;
	}
}
.nav-tabs > li > a {border-radius:0px;}
// Tabs zentrieren
.text-center, .text-xs-center  {text-align:center;}

// Button ohne runde Ecken
.btn {border-radius:0px;}


.container-fluid {padding-right:20px; padding-left:20px;}
.mform .fitem_feditor .fitemtitle, .mform .fitem_ftext .fitemtitle {
	max-width:none;
}

// Eingabefelder und Buttons
form select, form input[type="text"], form input[type="password"], 
form.atto_form input[type="url"], select.singleselect {
	vertical-align:middle;
	margin:0 0 10px 0;
	
}


.breadcrumb-button {
	.singlebutton form input[type="submit"] {
		margin-bottom: 3px;
	}
	.forumsearch {
		margin-bottom:10px;
	}
}

// Pop-Up ohne runde Ecken
.modal-content {border-radius:0px;}


// Kursuebersicht korrektur
// -------------------------------------------------------------
.nav-pills > li > a {border-radius:0px;}
.card {margin-left:15px; margin-right:15px; border-radius:0px;}


.fade.show {
    opacity: 1;
}

// Anpassung Forum
// ------------------------------------

// Abstand zwischen den Foren Einträgen
.forumpost {
	margin-bottom:5px; 
	padding-top:12px;
	border-top:1px solid #ddd; 
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
	-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
}
.forumpost .options .commands.nav {margin-bottom:5px;}

// Kommentar Links
.nav-link {
    display: inline-block;
    padding: 0.25rem 0.5rem;
}
// Abonieren Icon
.path-mod-forum .discussionsubscription a.discussiontoggle img {
	width:22px;
}
.discussioncontrols select + input[type="submit"] {
	margin: 0 0 10px 5px !important;
}



// Kurse Aktivitäten Bearbeiten (Pop-Up)
// -------------------------------------------------------------
.jsenabled .moodle-actionmenu[data-enhanced] .menu-action-text {
	white-space:unset;
}
.moodle-actionmenu[data-enhanced].show .menu a {
	padding: 6px 1em 6px 0.7em; // padding: 6px 1em 6px 1em;
}
.moodle-actionmenu[data-enhanced].show .menu > li > a {
	padding:3px 25px 3px 10px;
}
#changenumsections {margin-bottom:10px;}

.section .moodle-actionmenu[data-enhanced] .menu img {
	width:12px; 
	height:12px;
}

// Navbar responsive
// -------------------------------------------------------------
.navbar-nav > li a.dropdown-toggle {
	@media (max-width: 320px) {
		padding-left:7px;
		padding-right:7px;
	}
}
.has_dock_top_horizontal #dock .dockeditem .dockedtitle h2 {
	@media (max-width: 320px) {
		padding-left:10px;
		padding-right:10px;
	}
}

// -------------------------------------------------------------
// Loginseiten
// -------------------------------------------------------------

#page-login-index #page-content {
	@media (min-width: @screen-sm-min) {
		margin:60px 0px 60px -15px;
	}
}
.loginpanel .form-label {
    text-align: left;
}
.loginbox.twocolumns .loginpanel {
    padding: 19px;
	margin-bottom:20px;
	position:relative;
	@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
		float:left;
		width:33%;
	}
	@media (min-width: @screen-md-min) { 
		float:left;
		width:25%;
	}
}
.loginpanel {
	form input[type="text"], form input[type="password"] {
		min-width:175px;
		width:98%;
	}
}
.loginbox.onecolumn .loginpanel {
	form input[type="text"], form input[type="password"] {
		width:100%;
	}
}
.loginbox.twocolumns .signuppanel {
    padding: 19px;
	margin-bottom:20px;
	position:relative;
	@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
		float:left;
		width:58.6%;
		left:8.4%;
	}
	@media (min-width: @screen-md-min) {
		float:left;
		width:66.6%;
		left:8.4%;
	}
}

// Login ohne Text und Selbsteinschreibung
// -------------------------------------------------------------
#page-login-index #page-wrapper .loginbox.onecolumn .signuppanel {
    background-color: transparent;
	max-width:330px;
}
#page-login-index #page-wrapper .loginbox.onecolumn {
	max-width:365px;
}


// Usermenü Anpassung - Sie sind nicht angemeldet
// -------------------------------------------------------------
.notloggedin .usermenu {
    // padding-top: 15px;
    // padding-bottom: 15px;
	line-height:48px;
}
.navbar .usermenu .Login, .navbar .usermenu .login {
	display:inline;
}
#page-site-index.notloggedin .usermenu .login, #page-login-index.notloggedin .usermenu .login,
#page-login-forgot_password.notloggedin .usermenu .login {
	display:inline;
	@media (max-width: @screen-sm-max) {
		display:none;
	}
}


// Gastanmeldung Usermenü
// -------------------------------------------------------------
#page-login-index .usermenu .login, #page-login-forgot_password .usermenu .login, 
.navbar .usermenu .Login, .navbar .usermenu .login, 
#page-site-index .usermenu .login {
    line-height: 48px;
}

// Passwort vergessen Textabschnitt
// -------------------------------------------------------------
#page-login-forgot_password {
	.generalbox {
		padding: 25px 0;
	}
}

// -------------------------------------------------------------
// Nutzungsrichtlinien Cookiebar
// -------------------------------------------------------------
.eupopup-container {
	a {color:#fff; text-decoration:underline;}
	a:hover, a:active, a:focus {color:#56aad1; text-decoration:underline;}
	a.eupopup-button {color:#f6a21d;}
	a.eupopup-button:hover, a.eupopup-button:active, a.eupopup-button:focus {color:#f6a21d; text-decoration:underline;}
}

// -------------------------------------------------------------
// Anpassung Datenbanktabelle
// -------------------------------------------------------------
.path-mod-data .tableself {overflow-x: auto;}
.path-mod-data .tableself a {
   word-wrap:break-word; word-break:break-all;
}
// -------------------------------------------------------------
// Anpassung Reportseiten, Bewertungsseiten, Adminseiten
// -------------------------------------------------------------
.path-report #region-main {
    width: 100%;
    margin-bottom: 30px;
}
// Bewertung Bericht
.path-grade-report #region-main {
    width: 100%;
    margin-bottom: 30px;
}
.path-admin-tool #region-main {
    width: 100%;
    margin-bottom: 30px;
}
.path-grade-report-user .user-grade {
	border-color:#bfbfbf;
}

/* ----------------------------------------------------------- */
/*           Korrekturen moodle 3.6 update                     */
/* ----------------------------------------------------------- */ 
.dashboard-card, .list-group-item, .course-summaryitem {
	.dropdown .btn-link.coursemenubtn {
		border-radius:50%;
		border:0px;
		padding:0px;
		&:hover {
			background-color:#e9ecef;
		}
		img {margin:0px auto;}
	}
}
.course-summaryitem .summaryimage {
	border-radius:0px;
}

// Aktivitätsabschluss setzen btn
.togglecompletion .btn.btn-link {
	border:0px;
}

/* -- Dashbord Kurskachelansicht (responsive Kacheln) -- */
.dashboard-card-deck {
    box-sizing: border-box;
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
    display: flex;
    flex-flow: row wrap;
    margin-right: -.25rem;
    margin-left: -.25rem;

    .dashboard-card {
        margin-bottom: 0.5rem;
        margin-right: 0.25rem;
        margin-left: 0.25rem;
        flex-grow: 0;
        flex-shrink: 0;
        min-width: 0;
        width: ~"calc(100% - 0.5rem)";
        flex-basis: auto;
    }
    @media (min-width: 320px) {
        .dashboard-card {
            width: ~"calc(100% - 0.5rem)";
        }
    }
    @media (min-width: 480px) {
        .dashboard-card {
            width: ~"calc(50% - 0.5rem)";
        }
    }
    @media (min-width: 1163px) {
        .dashboard-card {
            width: ~"calc(33.333% - 0.5rem)";
        }
    }
    @media (min-width: 1514px) {
        .dashboard-card {
            width: ~"calc(25% - 0.5rem)";
        }
    }
}

.well, .card {
	border-radius:0px;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	hr {
		border-color:#ddd;
	}
}
.block_myoverview .pagination .page-item .page-link img.icon {
	height:8px;
	width:8px;
	margin-left:6px;
	margin-right:6px;
	vertical-align:middle;
	opacity:0.6;
}
.block_myoverview .pagination .page-item.disabled .page-link img.icon {
	opacity:0.3;
}

// Anpassungen Mitteilungen
// -------------------------------------------------------------
#page-message-index #region-main-inner{
	padding-bottom:25px;
}
#view-overview-messages-target .list-group-item {
	border-radius:0px;
}
#view-overview-messages-target .list-group-item
.px-2.py-1.position-right {right:10px;}

#region-main .message-drawer {
	.drawer-top.border-bottom {
		display:none;
	}
	&.bg-light {
		background-color:#fff !important;
	}
	.header-container .input-prepend input[type="text"] {
		border-radius:0px;
		box-shadow: inset 1px 1px 1px rgba(0,0,0,.075);
		-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.075);
		-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.075);
	}
	
	.overview-section-toggle {
		margin-left:0px;
	}
	.btn-link {
		border-color: transparent;
	}
	.dropdown .btn-link { border-radius:50%;}
	.accordion-heading {border-bottom: 1px solid rgba(0,0,0,.125);}
	.border-bottom {
		border-bottom: 1px solid #dee2e6 !important;
	}	
}
#region-main .message-drawer .btn-link:hover, .message-drawer .btn-link:focus {
    background-color: rgba(0,0,0,.035);
    text-decoration: none;
}
.message-drawer .content-message-container {
	background-color:#f8f9fa !important;
}
.message-drawer .accordion-group .collapsed-icon-container {
    display: inline-block;
}
.message-drawer .accordion-group.expanded .collapsed-icon-container {
    display: none;
}
.message-drawer .accordion-group .expanded-icon-container {
    display: none;
}
.message-drawer .accordion-group.expanded .expanded-icon-container {
    display: inline-block;
}

// Anpassung enrol-Icons Kursbereiche 
.coursebox .enrolmenticons img {padding:0px;}

// Anpassung Kalendar
// -------------------------------------------------------------
.calendar_filters a:hover {
	text-decoration:none;
}
.calendar_filters a:hover .eventname {
	text-decoration:underline;
}
.block .calendar_filters li span img.icon {
	margin:0px;
	padding:0 0 0.2em;
}
.calendar-controls a.arrow_link:hover {
	text-decoration:none;
}
.calendar-controls a.arrow_link:hover .arrow_text {
	text-decoration:underline;
}
.path-calendar .maincalendar .eventlist .event {
	border-radius:0px;
}

//   Anpassungen block Minikalender 
// -------------------------------------------------------------
.popover.bs-popover-top {
    border-radius: 0px;	
	margin-top:-11px;
	h3.popover-header {
		padding: 8px 14px;
		font-size: 13px;
		background-color: #f7f7f7;
		border-bottom: 1px solid #ebebeb;
		margin:0px;
	}
	.popover-body {
		padding: 9px 14px;
		font-size: 12px;
	}
}

//   Anpassungen block timeline und aktuelle Termine
// -------------------------------------------------------------
.block_timeline .block-timeline ul.list-group {
	margin:0px;
	.list-group-item:first-child {
		border-radius:0px;
	}
	.list-group-item {
		margin-top:7px !important;
		padding:2px 10px 5px 10px !important;
	}
}
.block_timeline .block-timeline ul.media-list {
	margin:0px;
}
.block_calendar_upcoming .content.card-text {
	padding: 0px;
}


//  Verborgene Blöcke 
// --------------------------------
.block.invisible .header {
	background-color:transparent;
	opacity: 0.75;
}

//  Komprimierte Abschnitte ohne runde Ecken
// -------------------------------------------
.course-content ul.ctopics li.section .content .toggle, .course-content ul.ctopics li.section .content.sectionhidden {
	-webkit-border-radius:0px !important;
	-moz-border-radius:0px !important;
	border-radius:0px !important;
}

//   Anpassungen Grid Kursformat
// --------------------------------------
#page-course-view-grid #region-main-inner div[role="main"] {
    overflow-x: unset;
    background-color: #fff;
}
#page-course-view-grid #region-main-inner {padding:25px;}
#page-course-view-grid #gridiconcontainer {margin:30px auto;}
#page-course-view-grid.editing .course-content ul.gtopics li.section .side {width:auto;}

#page-course-view-grid {
	.course-content ul.gridicons li .image_holder {border-width:1px; border-radius:0px; margin-top:5px;}
	
	#gridshadebox_content.absolute {
		width:75%; 
		max-width:1200px; 
		margin:0px auto; 
		border:0px; 
		left:30px; 
		right:30px; 
		padding:15px;
		@media (max-width:480px){padding:5px;}
	}
}

@media (min-width:1200px){ 
	.gridshadebox_arrow {width:45px; height:45px;} 
	.gridshadebox_previous_area {left: -55px;}
	.gridshadebox_next_area {right: -65px;}
}
@media (min-width:767px) and (max-width:1199px){
	.gridshadebox_previous_area {left: -50px;}
	.gridshadebox_next_area {right: -50px;}
}
@media (min-width:481px) and (max-width:767px){
	.gridshadebox_previous_area {left: -40px;}
	.gridshadebox_next_area {right: -40px;}
}
@media (max-width:480px){
	.gridshadebox_previous_area {left: -30px;}
	.gridshadebox_next_area {right: -30px;}
}

//   Anpassungen Topic Kursformat - Ein Abschnitt pro Seite
// ---------------------------------------------------------
.format-topics .course-content .single-section .section-navigation {margin-bottom:0.5em;}


//   Anpassungen Collapse-Topic Kursformat - Section 0
// ---------------------------------------------------------
.format-topcoll .course-content ul.ctopics li#section-0 {background-color:#fff;}


//   Bug fixes negativ margin pagelayout embedded + padding ebeded wiki
// -------------------------------------------------------------------------------
.pagelayout-embedded #page-content {
	margin-left:0px; margin-right:0px;
}
.path-mod-wiki #page {
	padding:15px 30px;
}

//   Bug fixes width of class container in region main
// ----------------------------------------------------
#region-main .container {width:100%;}